<!-- <h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p> -->

<table class="table">
    <thead>
      <tr>
        <th scope="col">Título</th>
        <th scope="col">Descrição</th>
        <th scope="col">Data de Criação</th>
        <th scope="col">Data de Entrega</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.created_at %></td>
        <td><%= task.delivery %></td>
      </tr>
      <% end %>
    </tbody>
    </table>
    <%= paginate @tasks %>
</div>
